.task-card {
  border: 2px solid;
  padding: 40px;
  position: relative;
}
.task-card {
  background-color: rgb(143, 131, 153);
}
.task-card button {
  padding: 4px 10px;
  background-color: rgb(69, 114, 156);
}
.task-card--completed {
  background-color: rgb(116, 204, 34);
  text-decoration: line-through; /* Tacha el texto */
}
.task-card--expired {
  background-color: red;
}
.task-card img {
  width: 20px;
  aspect-ratio: 1;
  pointer-events: none;
}
