.task-form__input--radio:focus {
  font-family: 'bold';
}
.task-form__radio-wrapper div {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.task-form__radio-wrapper .task-form__input--radio {
  display: none;
}
.task-form__radio-wrapper .task-form__input--radio:checked + span {
  box-shadow: 0 0 0 0.0625em var(--primary);
  background-color: var(--dark);
  color: var(--primary);
}
.task-form__label--radio span {
  display: block;
  cursor: pointer;
  background-color: var(--dark);
  padding: 0.375em 0.75em;
  color: var(--light);
  box-shadow: 0 0 0 0.0625em #434343;
  font-size: var(--medium-fs);
  transition: background-color 0.1s ease;
  user-select: none;
  -moz-user-select: none;
}
.task-form__label--radio:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}
.task-form__label--radio:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}
