@font-face {
  font-family: 'regular';
  src: url(/src/assets/fonts/Zain-Regular.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'bold';
  src: url(/src/assets/fonts/Zain-Bold.ttf) format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'italic';
  src: url(/src/assets/fonts/Zain-Italic.ttf) format('truetype');
  font-display: swap;
}
