body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'regular';

  background-image: url(/src/assets/img/app-bg.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: auto;
  height: 100vh;

  backdrop-filter: blur(6px) saturate(120%);
  -webkit-backdrop-filter: blur(6px) saturate(120%);
  background-color: #5c4a4999;
}
.projects,
.task-list,
.add-task {
  width: 80vw;
  height: 100dvh;
  padding: 4rem;
}
button {
  background-color: transparent;
  cursor: pointer;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  font-size: 30px;
}
label {
  color: var(--light);
  font-family: 'bold';
  display: flex;
  flex-direction: column;
  font-size: var(--small-fs);
}
input,
textarea,
select {
  background: var(--dark);
  /* box-shadow: var(--field__shadow--first), var(--field__shadow--second); */
  caret-color: var(--semi-light);
  color: var(--semi-light);
  border: var(--dark-border);
  outline: none;
  border-radius: 4px;

  &:focus {
    border: var(--focus-border);
  }
}
input {
  padding: var(--field__padding);
  font-family: 'regular';
}
input[type='checkbox'] {
  cursor: pointer;
  background-color: var(--dark);
  accent-color: var(--primary);
  width: fit-content;
}
input[type='checkbox']:checked {
  box-shadow: 0 0 4px 1px black;
}
textarea {
  font-family: 'regular';
  resize: none;
  padding: var(--field__padding);
}
select {
  font-family: 'regular';
  cursor: pointer;
  padding: var(--field__padding);
  width: fit-content;

  &:focus {
    outline: none;
  }
}
::placeholder {
  color: var(--placeholder);
  font-family: 'regular';
}
optgroup {
  color: var(--primary);
}
option {
  font-family: 'regular';
  color: var(--light);
}
summary {
  cursor: pointer;
  padding: 0.4rem;
}
img {
  object-fit: cover;
  aspect-ratio: 1;
}
.nothing-founded {
  display: grid;
  place-content: center;
  text-align: center;
  color: var(--light);
  font-family: 'bold';
  font-size: var(--giant-fs);
  text-shadow: 3px 3px 2px rgb(3, 3, 3);
}
