body {
  background-color: #4d4d4d;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background-color: transparent;
  cursor: pointer;
}
input {
}
input[type='checkbox'] {
  cursor: pointer;
}
textarea {
  resize: none;
}
select {
}
option {
}
