/* ----reset---- */
*,
*::before,
*::after {
  box-sizing: border-box;
  min-width: 0;
}
* {
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
html {
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
p {
  max-width: 75ch;
  text-wrap: pretty;
  overflow-wrap: break-word;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
  }
}
li {
  list-style-type: none;
}
